.ArrowButton {
	$p: &;

	display: inline-flex;

	transition: color $primaryTransition;

	color: $accentColor;
	&:hover {
		color: $accentHoverColor;
	}
	
	&_outline {
		display: flex;
		align-items: center;
		justify-content: center;

		width: em(48);
		height: em(48);

		transition: background-color $primaryTransition;

		border-radius: 50%;
		background-color: #fff;
		box-shadow: 0 rem(2) rem(7) 0 rgba(0, 0, 0, 0.1);
		&:hover {
			background-color: $lightPurpleColor;
		}

		#{$p} {
			&__icon {
				width: em(20);
				height: em(20);
			}
		}

		@media (min-width: em($mobile)) {
			font-size: rem(16);
		}


		@media (max-width: em($mobile)) {
			font-size: rem(math.div(35, 3));
		}
	}

	&_range {
		display: flex;
		align-items: center;
		justify-content: center;

		width: rem(38);
		height: rem(38);

		border-radius: 50%;

		background-color: $accentColor;

		&:hover {
			background-color: $accentHoverColor;

			#{$p} {
				&__icon {
					color: $lightPurpleColor;
				}
			}
		}
		#{$p} {
			&__icon {
				width: rem(16);
				height: rem(16);

				color: white;
			}
		}
	}

	&_left {
		#{$p} {
			&__icon {
				transform: rotate(180deg);
			}
		}
	}

	&__icon {
		width: rem(20);
		height: rem(20);
	}
}