.Breadcrumbs {
	display: flex;
	column-gap: rem(5);

	> *:after {
		content: "\00A0" ">";

		color: $accentColor;
	}

	&__item {
		display: inline-flex;
	}

	&__link {
		display: inline-flex;

		transition: color $primaryTransition;

		color: $accentColor;

		&:hover {
			color: $accentHoverColor;
		}
	}
}