.InfoToggle {
	$p: &;

	&__blocks {
		overflow: hidden;

		transition: height $primaryTransition;
	}

	&_text {
		#{$p} {
			&__blocks {

			}
		}
	}

	&_shell {
		#{$p} {
			&__blocks {
				margin-bottom: rem(30);
			}
		}
	}

	&__button {
		margin: 0 auto;
	}
}

.gradient {
  	color: transparent;
	background-image: linear-gradient(180.00deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  	-webkit-background-clip: text;
  	background-clip: text;
}

.d {
	height: 100px;
}