.AddressItem {
	$p: &;


	&__link {
		transition: color $primaryTransition;

		font-weight: 300;

		> *:not(:last-child) {
			margin-bottom: rem(5);
		}
	
	
		&:hover {
			color: $lightgreyColor;
		}
	}

	&__icon {
		color: $accentColor;
	}

	&_icon {

		#{$p} {
			&__link {
				display: inline-flex;
				align-items: center;
				column-gap: rem(10);

				&:hover {
					#{$p} {
						&__icon {
							color: currentColor;
						}
					}
				}
			}
		}

	}

	&_bold {
		#{$p} {
			&__link {
				font-size: rem(20);
				font-weight: 700;
			}
		}
	}

	&_underline {
		#{$p} {
			&__link {
				text-decoration: underline;
			}
		}
	}
}