.AddressItem {
	$p: &;


	&__link {
		transition: color $primaryTransition;
	
		color: #fff;

		font-weight: 300;

		> *:not(:last-child) {
			margin-bottom: rem(5);
		}
	
	
		&:hover {
			color: $lightgreyColor;
		}
	}

	&_bold {
		#{$p} {
			&__link {
				font-size: rem(20);
				font-weight: 700;
			}
		}
	}

	&_underline {
		#{$p} {
			&__link {
				text-decoration: underline;
			}
		}
	}
}