.AddToComparison {
	$p: &;

	display: inline-flex;
	align-items: center;

	color: $accentColor;
	column-gap: rem(10);
	&__icon {
		width: rem(29);
		height: rem(19.41);
		
		
	}

	&:hover {
		color: $lightgreyColor;
	}
}