.Checkbox {
	&__input {
		position: absolute;
		z-index: -1;

		opacity: 0;
	}

	&__real {
		position: absolute;
		z-index: -1;

		width: 0;
		height: 0;

		opacity: 0;
		&:checked + .Checkbox__custom {
			&::before {
				transform: translate(-50%, -50%) scale(1);
			}
		}

		// &:focus + .Checkbox__custom {
		// 	box-shadow: 0 0 0 rem(1) rgba(0, 0, 0, 0.7), 0 0 rem(10) rgba(0, 0, 0, 0.7);
		// }
	}


	&__custom {
		position: relative;

		display: inline-block;

		width: rem(20);
		height: rem(20);
		margin-right: rem(5);

		vertical-align: sub;

		border: 1px solid $greyColor;
		border-radius: rem(2);
		background-color: #fff;

		&:before {
			position: absolute;
			top: 50%;
			left: 50%;

			width: rem(10);
			height: rem(10);

			content: "";
			transition: transform $primaryTransition;
			transform: translate(-50%, -50%) scale(0);

			border-radius: rem(2);
			background-color: $accentColor;
		}
	}
}