
.DescList {
	display: flex;
	flex-direction: column;

	padding: rem(30);

	background-color: #fff;
	row-gap: rem(30);
	
	
	&__item {
		display: flex;
		flex-direction: column;
		row-gap: rem(30);
	}
	
	&__image {
		max-width: rem(340);

		border-radius: rem(10);
		aspect-ratio: 340 / 248;
		object-fit: cover;
	}
}