.Сarrousel {
	overflow: hidden;

	&__list {
		display: flex;
		overflow-x: scroll;
		overflow-y: hidden;

		transition: transform $primaryTransition;
		// white-space: nowrap;
		scroll-snap-type: x;
		scroll-behavior: smooth;
		gap: rem(30);
	}

	&__item {
		flex: 0 0 auto;

		width: rem(500);
		height: rem(500);
		// transform: translate(px);
		pointer-events: none;

		border-radius: rem(10);
		background-color: red;
		scroll-snap-align: start;
	}
}