.Field {
	$p: &;

	width: 100%;


	&__input {
		width: 100%;

		transition: 
			color $primaryTransition, 
			border $primaryTransition;

		border-radius: rem(10);

		

	}

	&_auth {
		position: relative;

		overflow: hidden;
		#{$p} {
			&__input {
				padding: rem(20);

				color: $greyColor;
				border: 1px solid $lightgreyColor;
				background-color: #fff;

				&:focus {
					border: 1px solid currentColor;
				}
			}
		}
	}

	&_default {
		
		#{$p} {
			&__input {
				padding: rem(15);

				color: #fff;
				border: 1px solid currentColor;
				background: rgba(255, 255, 255, 0.15);
				&::placeholder {
					color: #fff;
				}

				&:focus {
					border: 1px solid $lightgreyColor;
				}
			}	
		}
	}

	&_modal {	
		#{$p} {
			&__input {
				padding: rem(20);

				border: 1px solid $lightgreyColor;
				border-radius: rem(5);
				background: rgba(255, 255, 255, 0.15);

				font-size: rem(14);
				font-weight: 300;
				&::placeholder {
					color: $lightgreyColor;
				}
			}	
		}
	}

	&_search {
		position: relative;

		color: #fff;
		#{$p} {
			&__input {
				padding: rem(15) rem(30) rem(15) rem(15);

				
				border: 1px solid currentColor;
				background: rgba(255, 255, 255, 0.15);
				&::placeholder {
					color: #fff;
				}
				
				&:focus {
					border: 1px solid $lightgreyColor;
				}
			}

			&__searchIcon {
				position: absolute;
				top: 50%;
				right: rem(15);

				width: rem(15);
				height: rem(15.55);

				transform: translateY(-50%);

			}
		}
	}

	&_wrong {
		padding-bottom: rem(40);

		transition: padding-bottom $primaryTransition;

		#{$p} {
			&__input {
				border: 1px solid $wrongColor;
			}

			&__wrong {
				bottom: 0;
				left: rem(5);
			}
		}
		
	}


	&__wrong {
		position: absolute;
		z-index: -1;
		bottom: 100%;		
		left: 0;

		transition: bottom $primaryTransition;

		color: $wrongColor;
	}
}