.Page {
	display: flex;
	flex-direction: column;

	height: 100%;

	&__main {
		flex: 1 1 auto;

		@media (min-width: em($tablet)) {
			margin-bottom: rem(80);
		}

		@media (max-width: em($tablet)) {
			margin-bottom: rem(60);
		}
	}

	&__header {
		margin-bottom: rem(30);
	}
}