.Header {
	position: relative;
		z-index: $headerZIndex;

	background-color: $accentColor;

	&__container {
		display: grid;
		row-gap: rem(20);

		padding-top: rem(20);
			@media (max-width: em($tablet)) {
				padding-bottom: rem(16);
			}
	}

	&__main {
		display: flex;
		

		// @media (max-width: em($tablet)) {
		// 	align-items: center;
		// }

		// @media (min-width: em($tablet)) {
		// 	align-items: end;
		// }

		align-items: center;
		


		@media (min-width: em($mobile)) {
			column-gap: rem(30);
		}

		@media (max-width: em($mobile)) {
			column-gap: rem(10);
		}
	}

	&__productsActionsGroup {
		@media (min-width: em($mobile)) {
			flex: 1 1 auto;
		}
		
	}

	&__top {
		display: flex;
		align-items: center;
		
		@media (min-width: em($maxWidthContainer)) {
			column-gap: rem(30);
		}

		@media (max-width: em($maxWidthContainer)) {
			column-gap: rem(20);
		}
	}

	&__phoneNumber {
	}

	&__nav {
		margin-right: auto;

		font-size: rem(14);
	}

	&__logo {
		@media (max-width: em($mobile)) {
			margin-right: auto;
		}
	}

	&__socialNetworkList {
		
	}


	&__catalogSpoiler {
		// position: relative;
		// bottom: rem(-16);
	}
}

