.DropDown {
	$p: &;
	&_opened {
		#{$p} {
			&__content {				
			}

			&__icon {
				transform: rotate(180deg);
			}
		}
	}

	&_closed {
		#{$p} {
			&__content {
				padding: 0;
			}

			&__icon {
				transform: rotate(0deg);
			}
		}
	}


	&__summary {
		display: flex;
		align-items: center;
		gap: rem(18);
	}

	&__title {
		flex: 1;

		font-weight: 700;
	}

	&__content {
		display: flex;
		overflow: hidden;
		flex-direction: column;

		box-sizing: content-box;
		padding-top: rem(20);

		transition: max-height $primaryTransition, padding $primaryTransition;
		row-gap: rem(15);
	}

	&__mainIcon {
		width: rem(32);
		height: 100%;
		fill: #fff;
	}

	&__icon {
		transition: transform $primaryTransition;
	}
}