.Container {
	box-sizing: content-box;
   
   margin: 0 auto;
	padding: 0 rem($containerPadding);


	&_default {
		max-width: rem($containerWidth);
	}

	&_auth {
		max-width: rem($containerAuthWidth);
	}
}