.AddToCart {
	$p: &;
	display: flex;
	align-items: center;

	color: $accentColor;
	column-gap: rem(10);
	&__icon {
		width: rem(27);
		height: rem(19.93);

		color: currentColor
	}

	&:hover {
		color: #A5A5A5;
		#{$p} {
			&__icon {
				
			}
		}
	}
}