.CarrouselSection {
	$p: &;
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: rem(10);

		margin-bottom: rem(28);
	}

	&__sale {
		margin-right: auto;
		padding: rem(5);

		text-transform: uppercase;

		color: $discountColor;

		border-radius: rem(10);
		background-color: #FFF0D2;

		font-weight: 700;

		line-height: rem(17);
	}

	&__buttons {
		display: inline-flex;
		column-gap: rem(20);
	}

	&__container {
		// overflow-x: hidden;
	}

	&__list {
		display: flex;

		column-gap: rem(30);

		overflow-x: auto;

		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
  		scrollbar-width: none;

		
		&::-webkit-scrollbar {
			display: none;
		}
		& > * {
			flex: 0 0 auto;
			scroll-snap-align: start;
		}
	}

	&_padding {
		#{$p} {
			&__list {
				padding-bottom: rem(0);

				transition: padding-bottom $primaryTransition;
				> * {
					@media (max-width: em($mobile)) {
						width: rem(156);
					}

					@media (min-width: em($mobile)) {
						width: rem(234);
					}
				}
				&:hover {
					padding-bottom: rem(75);
				}
			}
		}
	}
}

