.ViewComparison {
	$p: &;

	display: inline-flex;
	align-items: center;

	transition: color $primaryTransition;

	color: #fff;
	column-gap: rem(7);

	&__icon {
		width: rem(29);
		height: rem(19.41);

		
	}

	&__counter {
		font-weight: 700;
	}

	&:hover {
		color: $lightgreyColor;
	}
}