//* Vars
$layoutColor: #fff;

$primaryTextColor: #212121;
$whiteTextColor: #fff;

$overlayZindex: 50;
$oneLevelMenuZIndex: 100;
$twoLevelCatalogZIndex: 200;
$threeLevelCategoryZIndex: 300;
$headerZIndex: 400;
$modelZIndex: 500;
$filtersZIndex: 300;
$modalZindex: 600;


$accentColor: #D03664;
$accentHoverColor: #AA2B51;
$lightPurpleColor: #FFEAF1;
$lightPurpleColor2: #FFC5D6;
$discountColor: #F99C11;
$greyColor: #585858;
$lightgreyColor: #C7C7C7;
$morelightgrayColor: #E1E1E1;
$wrongColor: #FF0000;

$primaryTransition: 0.3s ease;
$secondaryTransition: 0.2s ease;

//** Fonts by default:
$fontFamily: "Comfortaa"; //? name
$lineHeight: 17;
$fontSize: 15; //? size
$fontColor: $primaryTextColor; //? color

$minWidth: 320; //? min width of layout
$containerPadding: 30; //? padding for container
// $maxWidthContainer: container(1290); //? width container
$maxWidthContainer: 1290; //? width container
$authWidthContainer: 328; //? width container
$aboutWidthContainer: 1000; //? width container



//** Break-points:
$pc: $containerPadding * 2 + $maxWidthContainer;
$tablet: 991.98;
$mobile: 767.98;
$smallMobile: 479.98;
